<div class="emoticons">
  <% @emoticons.each do |emoji| %>
    <div class="card m-2 p-2">
      <img src="<%= emoji['src'] %>" class="card-img-top">
      <p class="text-center mt-2"><%= emoji['key'] %></p>
    </div>
  <% end %>
</div>
