<table class="table text-center skill-table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Percent</th>
      <th scope="col">Type</th>
      <th scope="col" colspan="2">Action</th>
    </tr>
  </thead>
  <tbody id="list-skills">
    <% skills.each do |skill| %>
      <%= render "skill_item", skill: skill %>
    <% end %>
  </tbody>
</table>
