#skill-item.modal.fade.skill-item-modal tabindex="-1" aria-labelledby="skill-item-label" aria-hidden="true"
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5#skill-item-label.modal-title
        button.btn-close type="button" data-bs-dismiss="modal" aria-label="Close"
      .modal-body
        #skill-item-body
