.card.about__me.my-5
  = render "shared/about/card_infor"
  = render "shared/about/about_title", title: "I love"
  = render "shared/about/tech_love"
  = render "shared/about/about_title", title: "Education & work"
  = render "shared/about/education_work"
  = render "shared/about/about_title", title: "Skills"
  = render "shared/about/skill", skill_language: skill_language,
    skill_technology: skill_technology
  = render "shared/about/about_title", title: "Favorites"
  = render "shared/about/favorites", favorite_singers: @favorite_singers,
    favorite_songs: @favorite_songs, favorite_others: @favorite_others
