<div class="card__infor">
  <div class="card-body d-flex justify-content-center">
    <img src="https://res.cloudinary.com/phucdx/image/upload/v1615006143/wataridori/images/avatar_yvycdo.jpg" class="img-thumbnail rounded-circle avatar" alt="avatar">
    <div class="infor">
      <h3 class="admin__name">Đặng Xuân Phúc</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      <div class="social__link">
        <a href="https://www.linkedin.com/in/wataridori/" title="Linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/dangxuanphuc/" title="Github" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.facebook.com/wataridori.natsumi/" title="Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/wataridori.natsumi/" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>
