.card__infor
  .card-body.d-flex.justify-content-center
    img.img-thumbnail.rounded-circle.avatar src="https://res.cloudinary.com/phucdx/image/upload/v1615006143/wataridori/images/avatar_yvycdo.jpg" alt="avatar"
    .infor
      h3.admin__name Đặng Xuân Phúc
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      .social__link
        <a href="https://www.linkedin.com/in/wataridori/" title="Linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/dangxuanphuc/" title="Github" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.facebook.com/wataridori.natsumi/" title="Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/wataridori.natsumi/" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
