.education__work
  .container
    .row
      .col-md-12
        .main-timeline
          .timeline
            .timeline-icon <i class="fas fa-school"></i>
            span.year 2009 - 2013
            .timeline-content
              h5.title Phan Boi Chau Secondary School
              p.description
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam sequi itaque natus asperiores distinctio qui vitae consequatur sunt ullam repellat.
          .timeline
            .timeline-icon <i class="fas fa-school"></i>
            span.year 2013 - 2016
            .timeline-content
              h5.title Tu Ky High School
              p.description
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam unde debitis dolores accusantium dolorem iure magnam non sed dolor consequuntur.
          .timeline
            .timeline-icon <i class="fas fa-university"></i>
            span.year 2016 - 2020
            .timeline-content
              h5.title VNU University of Science
              p.description
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus eligendi sequi cupiditate provident ipsum at, similique reiciendis repellendus quidem animi.
          .timeline
            .timeline-icon <i class="fa fa-briefcase"></i>
            span.year 12/2020 - 04/2022
            .timeline-content
              h5.title Work with Joy Vietnam
              p.description
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi inventore, voluptatem quas pariatur repellat blanditiis necessitatibus natus sequi non totam.
          .timeline
            .timeline-icon <i class="fas fa-briefcase"></i>
            span.year 06/2022 - Present
            .timeline-content
              h5.title Vareal Vietnam
              p.description
                | Sed eget elementum nisi. Aliquam dapibus nulla nec scelerisque rhoncus. Mauris sagittis, mi nec euismod euismod, lorem magna scelerisque magna, sit amet maximus magna tortor vitae leo.
