<div class="favorites">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
      <a class="tablinks" onclick="openTab(event, 'singers')" id="single-tab">Japanese Singers</a>
      <a class="tablinks" onclick="openTab(event, 'songs')">Japanese Music</a>
      <a class="tablinks" onclick="openTab(event, 'other')">Other</a>
    </div>
  </nav>

  <div id="singers" class="tabcontent">
    <div class="singer__item">
      <img src="https://res.cloudinary.com/phucdx/image/upload/v1602212641/wataridori/images/anri-kumaki.jpg" alt="">
      <div class="singer__name">
        <div class="text">Anri Kumaki</div>
      </div>
    </div>
    <div class="singer__item">
      <img src="https://res.cloudinary.com/phucdx/image/upload/v1602212641/wataridori/images/anri-kumaki.jpg" alt="">
      <div class="singer__name">
        <div class="text">Anri Kumaki</div>
      </div>
    </div>
    <div class="singer__item">
      <img src="https://res.cloudinary.com/phucdx/image/upload/v1602212641/wataridori/images/anri-kumaki.jpg" alt="">
      <div class="singer__name">
        <div class="text">Anri Kumaki</div>
      </div>
    </div>
    <div class="singer__item">
      <img src="https://res.cloudinary.com/phucdx/image/upload/v1602212641/wataridori/images/anri-kumaki.jpg" alt="">
      <div class="singer__name">
        <div class="text">Anri Kumaki</div>
      </div>
    </div>
    <div class="singer__item">
      <img src="https://res.cloudinary.com/phucdx/image/upload/v1602212641/wataridori/images/anri-kumaki.jpg" alt="">
      <div class="singer__name">
        <div class="text">Anri Kumaki</div>
      </div>
    </div>
  </div>

  <div id="songs" class="tabcontent">
    <div class="song__item">
      <img src="https://res.cloudinary.com/phucdx/image/upload/v1602212641/wataridori/images/anri-kumaki.jpg" alt="">
      <div class="song__name">
        <div class="text">Anri Kumaki</div>
      </div>
    </div>
    <div class="song__item">
      <img src="https://res.cloudinary.com/phucdx/image/upload/v1602212641/wataridori/images/anri-kumaki.jpg" alt="">
      <div class="song__name">
        <div class="text">Anri Kumaki</div>
      </div>
    </div>
    <div class="song__item">
      <img src="https://res.cloudinary.com/phucdx/image/upload/v1602212641/wataridori/images/anri-kumaki.jpg" alt="">
      <div class="song__name">
        <div class="text">Anri Kumaki</div>
      </div>
    </div>
    <div class="song__item">
      <img src="https://res.cloudinary.com/phucdx/image/upload/v1602212641/wataridori/images/anri-kumaki.jpg" alt="">
      <div class="song__name">
        <div class="text">Anri Kumaki</div>
      </div>
    </div>
  </div>

  <div id="other" class="tabcontent">
    <div class="other__item">
      <img src="https://res.cloudinary.com/phucdx/image/upload/v1621142762/wataridori/images/doraemon_jrllxq.gif" alt="doraemon">
      <div class="other__name">
        <div class="text">ドラえもん</div>
      </div>
    </div>
    <div class="other__item">
      <img src="https://res.cloudinary.com/phucdx/image/upload/v1621142762/wataridori/images/astronomy_sfqjqi.jpg" alt="astronomy">
      <div class="other__name">
        <div class="text">Astronomy</div>
      </div>
    </div>
    <div class="other__item">
      <img src="https://res.cloudinary.com/phucdx/image/upload/v1621142761/wataridori/images/ios_b8oymz.jpg" alt="Stephen Curry">
      <div class="other__name">
        <div class="text">iOS Jailbreaking</div>
      </div>
    </div>
    <div class="other__item">
      <img src="https://res.cloudinary.com/phucdx/image/upload/v1621142762/wataridori/images/djokovic_hil66t.jpg" alt="Novak Djokovic">
      <div class="other__name">
        <div class="text">Novak Djokovic</div>
      </div>
    </div>
  </div>
</div>

<script>
  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  document.getElementById("single-tab").click();
</script>
