<div class="skill__language d-flex justify-content-evenly">
  <% @skill_language.each do |skill| %>
    <div class="progress mx-auto" data-value="<%= skill.percent %>">
      <span class="progress-left">
        <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
        <span class="progress-bar"></span>
      </span>
      <div class="progress-title w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
        <h5><%= skill.name %></h5>
      </div>
    </div>
  <% end %>
</div>
