<div class="skill__tech d-flex justify-content-between">
  <% skill_technology.each do |skill| %>
    <div class="tech__skill">
      <div class="skill__name"><%= skill.name %></div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= skill.percent %>%" aria-valuenow="<%= skill.percent %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  <% end %>
</div>
