<div class="tech__love d-flex justify-content-center">
  <img src="https://res.cloudinary.com/phucdx/image/upload/v1615003949/wataridori/images/rails_rnksqt.png" alt="rails" class="tech__image">
  <img src="https://res.cloudinary.com/phucdx/image/upload/v1625466911/wataridori/images/nuxtjs_oougfx.svg" alt="nuxtjs" class="tech__image">
  <img src="https://res.cloudinary.com/phucdx/image/upload/v1625465622/wataridori/images/linux_nccbic.png" alt="linux" class="tech__image">
</div>
