<div class="tech__love d-flex justify-content-center">
  <img src="https://res.cloudinary.com/phucdx/image/upload/v1615003949/wataridori/images/rails_rnksqt.png" alt="ruby" class="tech__image">
  <img src="https://res.cloudinary.com/phucdx/image/upload/v1602212641/wataridori/images/vue.png" alt="ruby" class="tech__image">
  <img src="https://res.cloudinary.com/phucdx/image/upload/v1602212642/wataridori/images/linux.png" alt="ruby" class="tech__image">
</div>
