<div class="tech__love d-flex justify-content-center">
  <img src="https://res.cloudinary.com/phucdx/image/upload/v1625496993/wataridori/images/vue-js_gidfgl.png" alt="vuejs" class="tech__image" title="Vue JS">
  <img src="https://res.cloudinary.com/phucdx/image/upload/v1615003949/wataridori/images/rails_rnksqt.png" alt="rails" class="tech__image" title="Ruby on Rails">
  <img src="https://res.cloudinary.com/phucdx/image/upload/v1625465622/wataridori/images/linux_nccbic.png" alt="linux" class="tech__image" title="Linux">
</div>
