.tech__love.d-flex.justify-content-center
  img.tech__image alt="vuejs" title="Vue JS" src="https://res.cloudinary.com/phucdx/image/upload/v1625496993/wataridori/images/vue-js_gidfgl.png"
  img.tech__image alt="rails" title="Ruby on Rails" src="https://res.cloudinary.com/phucdx/image/upload/v1615003949/wataridori/images/rails_rnksqt.png"
  img.tech__image alt="linux" title="Linux" src="https://res.cloudinary.com/phucdx/image/upload/v1625465622/wataridori/images/linux_nccbic.png"
