<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-500">
        <h1>Oops!</h1>
        <h2>500 Internal server error</h2>
        <div class="error-details">
          We are currently trying to fix the problem.
        </div>
        <div class="mt-3">
          <%= link_to root_path, class: "btn back-to-home" do %>
            <span class="fa fa-home"></span>
            Back to Homepage
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
