.container
  .row
    .col-md-12
      .error-404
        h1 Oops!
        h2 422 Unprocessable Entity
        .mt-3
          = link_to root_path, class: "btn back-to-home" do
            span.fa.fa-home
            | Back to Homepage
