* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

a, a:hover {
  text-decoration: none;
}

.pdx-menu {
  position: absolute;
  top: 30px;
  right: 35px;
  padding: 17px 15px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
  white-space: nowrap;
  color: #464448;
  overflow: hidden;
  background: #ffffff30;
  border-radius: 50%;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
  text-align: left;
  font-weight: 600;
}

.pdx-menu a{
  color: #464448;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: .5px;
  font-weight: 600;
}

.pdx-menu.open {
  background: ffffff7a;
  border: none;
  width: 150px;
  height: 170px;
  border-radius: 2px;
  letter-spacing: 0px;
  transition: .1s;
}
.pdx-menu.open .pdx-menu__button {
  color: #60555585;
  transform: rotate(45deg);
  font-size: 39px;
}
.pdx-menu.open .pdx-menu__content {
  opacity: 1;
  visibility: visible;
}

.pdx-menu__button {
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  border: 0;
  background: none;
  color: #ffffff85;
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 36px;
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 12px;
  transition: .3s;
  user-select: none;
  cursor: pointer;
}

.pdx-menu__title {
  font-size: .9em;
  margin: 0 0 13px 0;
  color: #1b1f2399;
}

.pdx-menu__content {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.pdx-menu__content__list {
  list-style: none;
}
.pdx-menu__content__list li {
  margin: 0 0 5px 0;
  transform: translateX(20px);
  transition: 0.2s;
}
.pdx-menu__content__list li:nth-child(1) {
  transition-delay: 0.08s;
}
.pdx-menu__content__list li:nth-child(1) i {
  color: #24292E;
}
.pdx-menu__content__list li:nth-child(2) {
  transition-delay: 0.12s;
}
.pdx-menu__content__list li:nth-child(2) i {
  color: #078db5;
}
.pdx-menu__content__list li:nth-child(3) {
  transition-delay: 0.16s;
}
.pdx-menu__content__list li:nth-child(3) i {
  color: #DC493C;
}
.pdx-menu__content__list li:nth-child(4) {
  transition-delay: 0.20s;
}
.pdx-menu__content__list li:nth-child(4) i {
  color: #2d32c7;
}
.pdx-menu.open .pdx-menu__content__list li {
  transform: translateX(0);
}
.pdx-menu__content__list i {
  vertical-align: middle;
  position: relative;
  top: -1px;
  font-size: 15px;
  margin-right: 3px;
}

body {
  overflow: hidden;
}
.container {
  text-align: center;
}
.path-slider {
  position: relative;
  display: inline-block;
  margin-top: 30%;
  width: 60%;
  height: 150px;
  margin-top: 2.5%;
  border-radius: 30px;
}
path {
  stroke-width: 1px;
  stroke: none;
  fill: none;
}
.icon__path {
  fill: #fff;
}
.path-slider__path-drawn {
  stroke: rgba(255, 255, 255, 0.5);
}
.item__icon {
  width: 45px;
  height: 45px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.path-slider__item {
  position: block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  width: 135px !important;
}

.item__circle {
  display: inline-block;
  width: 74px;
  height: 74px;
  background-color: transparent;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  transition: 1s background;
}

.pdx-container {
  margin: 0;
  padding: 0;
  text-align: center;
}

.pdx {
  width: 100%;
  height: 100%;
  color: black;
  font-weight: bold;
  animation: pdx-animation 15s infinite;
}

@keyframes pdx-animation {
  0% {background-color: #6f42c1;}
  25%{background-color:#ffc107;}
  50%{background-color:green;}
  75%{background-color:#f35;}
  100% {background-color: #6f42c1;}
}

/* loading */

.preloading {
  overflow: hidden;
}
.preload-container {
  width: 100%;
  height: 100%;
  background: #28a745;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99999999999;
  display: block;
  padding-right: 17px;
  overflow-x: hidden;
  overflow-y: auto;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}
#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}
#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}
#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #00ff80 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #00ffea none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #00aaff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #0040ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #2a00ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #9500ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: magenta none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #ff0095 none repeat scroll 0 0;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
/* end loading */

.pdx-info {
  top: 197px;
  left: 128px;
}

.pdx-menu__content__list li:focus .pdx-menu {
  letter-spacing: 0px;
}
.pdx-menu__content__list li:focus .pdx-menu {
  letter-spacing: 5px;
}

.pdx-container .slick-list {
  margin: 17px 0;
  padding: 20px;
}

.site-name {
  position: relative;
  width: 100%;
  height: 100%;
}

#pdx-sitename {
  display: inline-block;
  font-size: 10em;
  font-family: 'Amatic SC', cursive;
  color: #000;
}

#site-name__dialoge {
  position: absolute;
  top: 19%;
  left: 29%;
  width: 42%;
}

.pdx-footer {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  padding: 30px;
}

.item__circle {
  animation: item__circle-animation 3s infinite;
  transform: 5s;
  z-index: 888;
  position: relative;
  animation: swing 5.2s infinite;
  box-shadow: 0 8px 13px 6px rgba(0, 0, 0, 0.16);
}

@keyframes item__circle-animation {
  0% { transform: scale(.9);}
  25%{ transform: scale(1);}
  50%{ transform: scale(1.1);}
  75%{ transform: scale(1);}
  100% { transform: scale(.9);}
}

.item__circle-translate:hover {
  animation: tada 1s infinite;
}

#current-field {
  width: 300px;
  height: 150px;
  font-size: 3em;
  font-family: 'Amatic SC', cursive;
  white-space: nowrap;
  color: #464448;
  border-radius: 50%;
  transition: 0.2s;
  text-align: left;
  font-weight: 600;
  position: absolute;
  top: 45%;
  left: 15%;
  transform: rotate(-10deg);
}
