<div class="related-post title__header">
  <h1 class="title__rightbar">
    <span>You might also like</span>
  </h1>
  <div class="posts__list owl-carousel owl-theme" id="js--related-post">
    <% @related_posts.each do |post| %>
      <div class="article">
        <div class="main__image">
          <%= cl_image_tag(post.image.url, class: "card-img-top") %>
        </div>
        <div class="post__info">
          <h1 class="title__post"><%= post.title %></h1>
          <div class="post-date"><%= post.created_at.strftime("%B %d, %Y") %></div>
        </div>
        <%= link_to "", post, class: "post__link" %>
      </div>
    <% end %>
  </div>
</div>
