- provide :title, @post.title

- content_for :head do
  = tag :meta, property: "og:title", content: "#{@post.title} | Wataridori's Blog"
  = tag :meta, property: "og:description", content: truncate(@post.content, length: 30)
  = tag :meta, property: "og:url", content: request.url
  = tag :meta, property: "og:image", content: @post.image

.post__show
  .post__leftbar
    .post__content
      = render "post_content", post: @post

    - if @related_posts.present?
      .related__post
        = render "related_post", related_posts: @related_posts
  .post__rightbar
    = render "rightbar", popular_posts: @popular_posts, recent_posts: @recent_posts
