<div class="post__show d-flex justify-content-between">
  <div class="post__content">
    <%= render "post_content" %>
  </div>
  <div class="post__rightbar">
    <%= render "rightbar" %>
  </div>
</div>
<div class="related__post">
  <%= render "related_post" %>
</div>
