$white: #fff;
$white1: rgba(255, 255, 255, 0.233);
$black: #000;
$black1: rgba(0,0,0,.08);
$black2: rgba(0,0,0,.5);
$black3: rgba(0,0,0,.55);
$black4: rgba(0,0,0,.1);
$black5: rgba(0,0,0,.2);
$black6: rgba(0,0,0,.14);
$black7: rgba(0,0,0,.12);
$text-link-color: rgba(0,0,0,.87);
$hover-link: #f6f6f6;
$active-link: #dcdcdc;
$bg-default-btn: #f5f5f5;
$hover-default-btn: #e5e5e5;
$bg-card: #f7f7f7;
$stats-color: #777;
$post-color: #333;
$delete-btn: #d50000;
$facebook: #01579b;
$instagram: #833ab4;
$twitter: #1da1f2;
$primary: #00897b;
$primary-hover: #9e9ea9;
$hr-bg: #d9d9d9;
$bg-cover: #6d8794;
$bg-cover-hover: #566b75;
$share-btn: #26a69a;
$bg-tags: #26a69a;
$bg-tags-hover: #22776f;
$btn-action-color: #1c1c1c;
$tab-link: #478a7c;
$like-color: #d2293c;
$bg-progress: #5f5f5f;
$bg-progress-active: #e6615e;
$border-tr: #c6cbd1;
$border-td: #dfe2e5;
$border-pre: #bfbfbf;
$color-a: #26c6da;
$color-blockquote: #4d4f50;
$border-blockquote: #b1b2b3;
$edu-text: #303a3b;
$edu-description: #7f8386;
