.error-404, .error-422, .error-500 {
  padding: 40px 15px;
  text-align: center;

  h1 {
    font-size: 100px;
    margin-bottom: 20px;
  }

  .back-to-home {
    margin-bottom: 10px;
    padding: 5px 12px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    transition: .5s;

    .fa {
      font-size: 20px;
    }
  }
}
