.favorites {
  margin: 20px;

  nav {
    font-family: Oswald,sans-serif;
    box-shadow: none !important;
    height: 50px;

    .nav-tabs {
      border-bottom: none;

      .show .tablinks, .tablinks.active {
        border-bottom: 4px solid !important;
        font-size: 17px;
      }

      .tablinks {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        text-transform: uppercase;
        font-size: 17px;
        transition: .3s;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 10px;
      }
    }
  }

  .tabcontent {
    margin-top: 10px;

    .singer__item, .song__item, .other__item {
      float: left;
      position: relative;
      width: 23%;
      margin: 0 1% 2%;

      img {
        max-width: 100%;
      }

      .favorite__name {
        position: absolute;
        padding: 10px 25px;
        font-size: 24px;
        font-weight: 200;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        text-align: center;
        transition: .3s;
      }

      &:hover {
        .favorite__name {
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: 710px) {
  .favorites {
    .tabcontent {
      .singer__item, .song__item, .other__item {
        margin: 0 1% 2%;
        width: 48%;
      }
    }
  }
}

@media only screen and (max-width: 510px) {
  .favorites {
    nav {
      height: 40px;

      .nav-tabs {
        .show .tablinks, .tablinks.active, .tablinks {
          font-size: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .favorites {
    .tabcontent {
      .singer__item, .song__item, .other__item {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
      }
    }
  }
}
