.footer__card {
  position: relative;

  a {
    text-decoration: none;
  }

  hr {
    margin: 0;
  }

  .footer__start {
    max-width: 100%;
    padding: 40px;
    font-size: 17px;
    text-transform: uppercase;

    .social__link {
      width: 25%;

      .fab {
        font-size: 30px;
        margin-right: 3px;
      }
    }
  }

  .footer__between {
    padding: 28px;
    text-transform: uppercase;
    font-size: 15px;

    a {
      margin-left: 5%;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .footer__end {
    padding: 28px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0.0071428571em;
  }
}

@media only screen and (max-width: 830px) {
  .footer__card {
    .footer__start {
      .social__link {
        .fab {
          font-size: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer__card {
    .footer__start {
      flex-wrap: wrap;
      padding: 25px;

      .social__link {
        width: 100%;
        margin-bottom: 5%;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .footer__between {
      flex-wrap: wrap;

      a {
        width: 100%;
        margin-left: 0;
        margin-bottom: 5%;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
