.card__top {
  .card__review {
    max-width: 32%;
    margin: 25px 16px 0 0;
    line-height: 1.5;
    transition: 0.3s;

    &:nth-child(3n - 1) {
      margin-left: 8px;
      margin-right: 8px;
    }

    &:nth-child(3n) {
      margin-left: 16px;
      margin-right: 0;
    }

    .sub__title {
      text-align: center;
      font-size: 14px;
      text-transform: uppercase;
      padding: 10px 20px 10px 20px;

      h1 {
        font-family: Roboto Slab, "Noto Serif", Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 32px;
        text-transform: none;
        line-height: 1.1;

        a {
          text-decoration: none;
          font-size: 28px;
          font-weight: 400;
          transition: .3s;
        }
      }

      .stats {
        .date__author {
          font-size: 13px;
        }
      }
    }

    .post-body {
      padding: 0 20px 20px 20px;
      font-family: "Noto Serif";
      font-size: 16px;
      line-height: 1.6;
      word-wrap: break-word;
    }

    .card__actions {
      padding: 5px 20px 20px 20px;
      position: relative;

      .private__label {
        position: absolute;
        background-color: #6c757d;
        text-transform: capitalize;
        font-weight: 100;
        padding: 8px;
        font-size: 12px;
        top: 4px;
        margin-left: 5px;
      }

      .read__more {
        transition: 0.3s;
        text-decoration: none;
        border-radius: 5px;
        text-transform: uppercase;
        padding: 4px 7px;
        font-size: 13px;
      }

      .delete__btn {
        border-radius: 5px;
        transition: 0.3s;
        padding: 2px 13px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .card__top {
    .card__review {
      max-width: 31.99%;
    }
  }
}

@media only screen and (max-width: 1191px) {
  .card__top {
    .card__review {
      max-width: 31.97%;
    }
  }
}

@media only screen and (max-width: 1172px) {
  .card__top {
    .card__review {
      max-width: 31.95%;
    }
  }
}

@media only screen and (max-width: 1156px) {
  .card__top {
    .card__review {
      max-width: 31.93%;

      &:nth-child(3n - 1) {
        margin-left: 5px;
        margin-right: 5px;
      }

      &:nth-child(3n) {
        margin-left: 13px;
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .card__top {
    .card__review {
      max-width: 31.9%;
    }
  }
}

@media only screen and (max-width: 1116px) {
  .card__top {
    .card__review {
      max-width: 31.88%;
    }
  }
}

@media only screen and (max-width: 1101px) {
  .card__top {
    .card__review {
      max-width: 31.86%;
    }
  }
}

@media only screen and (max-width: 1086px) {
  .card__top {
    .card__review {
      max-width: 31.84%;
    }
  }
}

@media only screen and (max-width: 1073px) {
  .card__top {
    .card__review {
      max-width: 31.82%;
    }
  }
}

@media only screen and (max-width: 1058px) {
  .card__top {
    .card__review {
      max-width: 31.8%;
    }
  }
}

@media only screen and (max-width: 1045px) {
  .card__top {
    .card__review {
      max-width: 31.78%;
    }
  }
}

@media only screen and (max-width: 1031px) {
  .card__top {
    .card__review {
      max-width: 31.76%;
    }
  }
}

@media only screen and (max-width: 1019px) {
  .card__top {
    .card__review {
      max-width: 31.74%;
    }
  }
}

@media only screen and (max-width: 1008px) {
  .card__top {
    .card__review {
      max-width: 32%;
      margin: 25px 13px 0 0;

      &:nth-child(3n - 1) {
        margin-left: 6px;
        margin-right: 6px;
      }

      &:nth-child(3n) {
        margin-left: 13px;
        margin-right: 0;
      }
    }
  }
}

// @media only screen and (max-width: 974px) {
//   .card__top {
//     .card__review {
//       max-width: 100%;
//       // margin: 25px 13px 0 0;

//       &:nth-child(3n - 1) {
//         max-width: 100%;
//         // margin-left: 6px;
//         // margin-right: 6px;
//       }

//       // &:nth-child(3n) {
//       //   margin-left: 13px;
//       //   margin-right: 0;
//       // }
//     }
//   }
// }

// @media only screen and (max-width: 960px) {
//   .card__top {
//     .card__review {
//       max-width: 48%;
//       margin-right: 4%;

//       &:nth-child(3n) {
//         margin-right: 4% !important;
//       }

//       &:nth-child(2n) {
//         margin-right: 0 !important;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 600px) {
//   .card__top {
//     .card__review {
//       max-width: 100%;
//       margin-right: 0;
//     }
//   }
// }
