nav {
  height: 64px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .container {
    height: 100%;

    .navbar-brand {
      text-transform: uppercase;
      font-size: 1.65rem !important;
      height: 100%;
    }

    .navbar-collapse {
      height: 100%;

      ul {
        height: 100%;

        li {
          height: 100%;

          a {
            text-transform: uppercase;
            height: 100%;
            padding: 0 16px !important;
            font-size: 0.875rem;
            transition: 0.5s;
          }
        }
      }

      .create__post {
        transition: 0.5s;
        border: none;
        height: 36px;
        min-width: 64px;
        padding: 0 16px;
        font-size: 0.875rem;
        border-radius: 3px;

        .fas {
          margin-right: 3px;
        }
      }

      .switch__theme {
        transition: 0.5s;
      }
    }
  }
}

@media only screen and (max-width: 907px) {
  nav {
    .container {
      .navbar-collapse {
        ul {
          li {
            a {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 862px) {
  nav {
    .container {
      .navbar-brand {
        font-size: 1.55rem !important;
      }

      .navbar-collapse {
        ul {
          li {
            a {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 862px) {
  nav {
    .container {
      .navbar-collapse {
        ul {
          li {
            a {
              font-size: 0.65rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  nav {
    .container {
      .navbar-toggler {
        .navbar-toggler-icon {
          background-image: url(
            "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"
          );
        }
      }

      .navbar-collapse {
        height: auto;

        ul {
          li {
            a {
              height: 25px;
            }
          }
        }

        .nav__option {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 329px) {
  a.d-flex.navbar-brand {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 321px) {
  a.d-flex.navbar-brand {
    font-size: 1.3rem !important;
  }
}
