canvas {
  display: block;
}

#particles-js {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
