.skills {
  position: relative;

  &__delete_btn {
    cursor: not-allowed;
  }

  &__edit_btn {
    text-decoration: none;
    position: absolute;
    top: 5px;
    right: 20px;
  }

  .skill__language {
    padding: 30px;

    .progress {
      width: 200px;
      height: 200px;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
      }

      > span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
      }

      .progress-bar {
        width: 100%;
        height: 100%;
        border-width: 15px;
        border-style: solid;
        position: absolute;
        top: 0;
      }

      .progress-left {
        left: 0;

        .progress-bar {
          left: 100%;
          border-top-right-radius: 100px;
          border-bottom-right-radius: 100px;
          border-left: 0;
          -webkit-transform-origin: center left;
          transform-origin: center left;
        }
      }

      .progress-right {
        right: 0;

        .progress-bar {
          left: -100%;
          border-top-left-radius: 100px;
          border-bottom-left-radius: 100px;
          border-right: 0;
          -webkit-transform-origin: center right;
          transform-origin: center right;
        }
      }

      .progress-title {
        font: 1.4em Oswald, sans-serif;
        text-transform: uppercase;
        position: absolute;
        top: 6px;
        left: 0;
      }
    }
  }

  .skill__tech {
    padding: 20px;
    flex-wrap: wrap;

    .tech__skill {
      width: 48%;
      margin-bottom: 20px;

      .skill__name {
        font: 1.4em Oswald,sans-serif;
        display: block;
        margin-bottom: 5px;
        line-height: 24px;
      }

      .progress {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .skills {
    .skill__language {
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: 600px) {
  .skills {
    .skill__tech {
      .tech__skill {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 485px) {
  .skills {
    .skill__language {
      .progress {
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
