.about-me.title__header
  h1.title__rightbar
    span About me
  .text-center
    img.img-thumbnail.rounded-circle src="https://res.cloudinary.com/phucdx/image/upload/v1615006143/wataridori/images/avatar_yvycdo.jpg" alt="avatar"
  p.text-center.my-4
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, molestiae.
  .text-center
    = link_to "Read more", about_me_path, class: "read-more"
