<div class="about-me title__header">
  <h1 class="title__rightbar">
    <span>About me</span>
  </h1>
  <div class="text-center">
    <img src="https://res.cloudinary.com/phucdx/image/upload/v1615006143/wataridori/images/avatar_yvycdo.jpg" alt="avatar">
  </div>
  <p class="text-center my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, molestiae.</p>
  <div class="text-center">
    <%= link_to "Read more", about_me_path, class: "read-more" %>
  </div>
</div>
