.follow-me.title__header
  h1.title__rightbar
    span Follow me
  .social__link.text-center
    a href="https://www.linkedin.com/in/wataridori/" title="Linkedin" target="_blank"
      i.fab.fa-linkedin
    a href="https://github.com/dangxuanphuc/" title="Github" target="_blank"
      i.fab.fa-github
    a href="https://www.facebook.com/wataridori.natsumi/" title="Facebook" target="_blank"
      i.fab.fa-facebook
    a href="https://www.instagram.com/wataridori.natsumi/" title="Instagram" target="_blank"
      i.fab.fa-instagram
