<div class="follow-me title__header">
  <h1 class="title__rightbar">
    <span>Follow me</span>
  </h1>
  <div class="social__link text-center">
    <a href="https://www.facebook.com/wataridori.natsumi/" title="facebook" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/wataridori.natsumi/" title="instagram" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/phucdx98/" title="twitter" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/dangxuanphuc/" title="github" target="_blank"><i class="fab fa-github"></i></a>
  </div>
</div>
