<div class="post-tag title__header">
  <h1 class="title__rightbar">
    <span>Tags</span>
  </h1>
  <div class="tags__content">
    <a href="#" class="tag__link">iOS</a>
    <a href="#" class="tag__link">Anime</a>
    <a href="#" class="tag__link">Nihongo</a>
    <a href="#" class="tag__link">Jailbreak</a>
    <a href="#" class="tag__link">Jailbreak</a>
  </div>
</div>
