<div class="post-tag title__header">
  <h1 class="title__rightbar">
    <span>Tags</span>
  </h1>
  <div class="tags__content">
    <% Tag.limit(10).each do |tag| %>
      <%= link_to tag.name, "#", class: "tag__link" %>
    <% end %>
  </div>
</div>
