<div class="footer__card text-center">
  <div class="container">
    <div class="footer__start d-flex justify-content-evenly">
      <a href="#" class="social__link">
        <i class="fab fa-facebook"></i> Facebook
      </a>
      <a href="#" class="social__link">
        <i class="fab fa-instagram"></i> Instagram
      </a>
      <a href="#" class="social__link">
        <i class="fab fa-twitter"></i> Twitter
      </a>
      <a href="#" class="social__link">
        <i class="fab fa-github"></i> Github
      </a>
    </div>
    <hr>
    <div class="footer__between d-flex justify-content-center">
      <a href="#">About me</a>
      <a href="#">Favorite songs</a>
      <a href="#">Japanese</a>
      <a href="#">IT</a>
    </div>
    <hr>
    <div class="footer__end">
      &copy; 2021 <a href="#">Wataridori Blog</a>. All Rights Reserved.
    </div>
  </div>
</div>
